body {
    background-color: rgb(111, 111, 111);
}
.container {
    max-width: 400px;
    margin-top: 5%;
}
.btn-calc {
    text-align: center;
    padding: 20px;
    border: 1px solid black;
}
.btn-calc:hover {
    opacity: 80%;
}
.display-number {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border: 1px solid black;
}
.bg-num {
    background-color: rgb(182, 182, 182);
}
.bg-calc {
    background-color: rgb(214, 214, 131);
}
.bg-spec {
    background-color: rgb(139, 139, 139);
}